<launch>
  <node name="camera_bridge" pkg="camera_bridge" type="camera_bridge">
	<remap from="camera" to="crowd/camera" />

	<!-- <param name="filename" type="str" value="$(find crowd_analysis)/test_data/alone.mp4" /> -->
	<!-- <param name="url" type="str" value="" /> -->
	<!-- <param name="device" type="int" value="" /> -->

	<param name="width" type="int" value="640" />
	<param name="height" type="int" value="480" />
	<param name="fps" type="double" value="30" />
  </node>
  <node name="background_substraction" pkg="crowd_analysis" type="background_substraction">
  	<remap from="image" to="crowd/camera" />
  	<remap from="camera/foreground_img" to="crowd/foreground_img" />
	<remap from="camera/background_img" to="crowd/background_img" />

  	<param name="alpha" type="double" value="0.3" />
  	<param name="threshold" type="int" value="1" />
  	<param name="kernel" type="int" value="3" />
  </node>
  <node name="people_counting" pkg="crowd_analysis" type="people_counting">
  	<remap from="image" to="crowd/foreground_img" />
  	<remap from="crowd/count_img" to="crowd/count_img" />
	<remap from="crowd/people_count" to="crowd/people_count" />

  	<param name="dataset" type="str" value="$(find crowd_analysis)/data/haarcascade_upperbody.xml" />
  	<param name="scaleFactor" type="double" value="0.1" />
  	<param name="minNeighbors" type="int" value="0" />
  	<param name="maxSize" type="double" value="0.5" />
  </node>
<!--   <node pkg="rosserial_python" type="serial_node.py" name="rosserial_crowd" output="screen">
      <param name="~port" value="/dev/ttyACM1" />
      <param name="~baud" value="57600" />
  </node> -->
</launch>
